.form{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 396px;
    justify-content: center;
}

.form__logo{
    width: 38px;
    transition: .5s;
}

.form__logo:hover{
    width: 45px;
}

.form__title{
    margin: 40px 0 0;

    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.form__form{
    margin-top: 40px;
    min-height: 405px;
    display:  flex;
    flex-direction: column;
    
    align-items: center;
}

.form__input-placeholder{
    
    width: 100%;
    margin-bottom: 10px;

    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.form__input{
    width: calc(100% - 30px);
    padding: 15px;
    margin-bottom: 10px;
    min-height: 16px;
    background: #2F2F2F;
    border: none;
    border-radius: 8px;

    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF; 
}

.form__input:-webkit-autofill {
    
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0 0 0 50px #2F2F2F; /* цвет вашего фона */
    -webkit-text-fill-color: rgb(255, 255, 255); /* цвет текста */
}

.form__input:last-of-type{
    margin-bottom: 10px;
}
.form__input-error{
    margin: 0 auto 10px;
    width: 100%;
    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #EE3465;
    text-align: start;
}

.form__submit-button{
    
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;   
    min-height: 45px;

    padding: 0;

    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;

    background: #4285F4;
    border-radius: 3px;
    border: none;

    transition: .5s;
}

.form__submit-button:disabled{
    background: #6a6a6a;
}


.form__submit-button:not(:disabled):hover{
    font-size: 17px;
    width: 110%;
    min-height: 49px;
}

.form__sign-in{
    
    margin-top: 16px;
    
    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #8B8B8B;
}

.form__sign-in-link{
    text-decoration: none;
    margin-left: 6px;
    color: #4285F4;
    transition: .5s;
}

.form__sign-in-link:hover{
    color: #3972ce;
    font-size: 17px;
}

.form__error{
    width: 100%;
    margin: 0;
    
    font-family: 'Inter', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #EE3465;
}

@media screen and (max-width: 500px) {
    .form{
        align-items: center;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        max-width: 72%;
        justify-content: center;
    }

    .form__submit-button{
        width: 100%;
        min-width: 260px;
    }
    .form__sign-in{
        margin-top: 14px;
        font-size: 12px;
        line-height: 15px;
    }
    
}