.movies-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column
}

.movies{
    width: 100%;
    max-width: 1140px;
    padding: 0;
      
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
    justify-items: center;
    gap: 32px 28px;
    
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .movies{
        grid-template-columns: repeat(auto-fill, 342px);
        gap: 35px 24px;
    }
}

@media screen and (max-width: 500px) {
    .movies{
        grid-template-columns: repeat(auto-fill, 271px);
        gap: 16px;
    }
}